<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>All entries</h1>
<%for ( let oneEntry of entries){%>
    <div>
    <p><%=oneEntry.title%>: <%=oneEntry.entryBody%></p>
    </div>
    <% if(String(oneEntry.owner) === String(user._id)){ %>
        <a href="/entries/<%= oneEntry._id%>/edit">edit</a>

        <a href="/entries/<%= oneEntry._id%>?_method=DELETE" method="post">delete</a>
        
        <%}%>
    <%}%>
    
</body>
</html>